APP_ENV=development
LOG_LEVEL=INFO
APP_HOST=0.0.0.0
APP_PORT=8080
PROMETHEUS_EXPORTER_PORT=9108
CONTROLLER_URL=http://127.0.0.1:8080
PROMETHEUS_URL=http://127.0.0.1:9090
SYSTEM_CONFIG=configs/system.yaml
